.Header {
  margin-bottom: 10px;
  border-bottom: 1px solid #f8f8f8;
  height: 30px;

  .header_title {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 0.9rem;
    letter-spacing: 0.0rem;
    font-weight: 700;
  }

  .back_link {
    font-size: 1.8rem;
    margin-right: 20px;
    float: left;
    line-height: 1rem;
  }
}
