.Select {
  width: calc(50% - 52px);
  float: left;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-right: 10px;

  div {
    margin-bottom: 5px;
  }

  select {
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Lato';
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    float: left;

    &:hover {
      background: #eee;
    }
  }

  button {
    background: #333;
    color: white;
    font-weight: 700;
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 17px;
    border-left: 0;
    cursor: pointer;

    &:hover {
      background: #000;
    }
  }
}
